.card {
  padding-bottom: 4rem;
}

.card + .card {
  padding-top: 4rem;
  border-top: 1px solid #424242;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0px;
  color: #424242;
  font-weight: 600;
  word-break: keep-all;
}
.card p {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #999;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.tags {
  display: flex;
}
.tags a {
  margin-bottom: 0.875rem;
  background: #634835;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  color: var(--primary1);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
.tags div + div {
  margin-left: 1rem;
}
