.header {
  background-color: #634835;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
}
.nav li {
  margin-right: 2rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}
